@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 7.7vh;
  position: sticky;
  background-color: white;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.58);
}

.left-nav-bar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: 25px;
}

.middle-nav-bar {
  display: flex;
  gap: 20px;
}

.right-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.right-nav-bar a {
  font-size: 1.3em;
}

.right-nav-bar a,
.middle-nav-bar a {
  color: black;
}

.userpicture {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-profile-dropdown {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0%;
  width: 280px;
  display: none;
}

.user-profile-dropdown.active {
  display: block;
}

.user-profile {
  background-color: #fff;
  padding: 1rem;
  margin: 10px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #888;
}

.user-settings {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  margin-left: 15px;
}

.user-settings-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-settings-icon {
  width: 25px;
  display: flex;
  align-items: center;
}

.user-settings a {
  font-size: 1.1rem;
  text-align: left;
}

.user-settings i {
  font-size: 1.3rem;
}

.dropdown-userpicture {
  width: 50px;
  border-radius: 50%;
}

/* header end */

/* index body content start */
.body {
  background-image: url(imgs/landingpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-left: 100px;
}

.large-info {
  font-size: 2.3em;
  color: white;
  font-weight: bold;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 15px;
  font-family: "Archivo Black", sans-serif;
  line-height: 50px;
}

.sub-info {
  font-size: 0.8em;
  color: white;
  text-align: justify;
  align-self: center;
  width: 500px;
  font-family: "Poppins", sans-serif;
}

.button-div {
  margin-top: 30px;
}

.button-div button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
}

.button-div button:hover {
  background: white;
  color: black;
  transition: 0.2s;
}

/* login / signup page start */

.login,
.signup {
  background-image: url(imgs/login-signup.png);
  background-position: center;
  height: 92.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.signup-container {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 400px;
  border-radius: 20px;
}

.signup-container {
  width: 400px;
  height: 640px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h2 {
  color: white;
  text-align: center;
  margin: -10px 0 10px 0;
}

.signup .title h2 {
  margin: 0 0 -20px;
}

.form-field {
  position: relative;
  margin: 30px 0;
  width: 310px;
}

.signup .form-field {
  position: relative;
  margin: 35px 0;
  width: 310px;
}

.form-field label {
  position: absolute;
  top: 1px;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
}

.form-field input {
  background: transparent;
  border: none;
  width: 85%;
  height: 45px;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
  border-bottom: 2px solid white;
}

.form-field i {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;
}

.forgot-password {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}

.signup-button,
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button input,
.signup-button input {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-container p {
  color: white;
  font-size: 0.9em;
}

.login-container a {
  color: white;
}

.signup-link a {
  text-decoration: underline;
}

.form-field.error small {
  visibility: visible;
}

.form-field small {
  color: #df3434;
  position: absolute;
  left: 0;
  margin-top: 50px;
  margin-bottom: 15px;
  visibility: hidden;
  font-size: 0.75em;
}
.errordiv .error-message {
  color: #df3434;
  margin-top: -30px;
  margin-bottom: 10px;
}
/* login / signup end */

/* menu start */

.menu-header {
  position: sticky;
  top: 0;
}

.menu-banner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title h1,
.about-head h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 25px;
  letter-spacing: 0.2em;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.category-button .menu-category {
  cursor: pointer;
  font-size: 1.5em;
  color: #8d8d8d;
}

.category-button .menu-category.active {
  color: black;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-row {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-items: center;
}

.product-card {
  width: 270px;
  margin-bottom: 35px;
  text-align: center;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.33);
}

.menu-img {
  width: 240px;
  object-fit: cover;
}

.menu-name {
  font-weight: bold;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-card:hover {
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
  top: 20px;
  transition: 0.2s;
}

.product-page {
  margin-top: 70px;
}

.product-container {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  gap: 90px;
}

.left-product {
  display: flex;
  flex-direction: column;
}

.product-image img {
  width: 500px;
  height: 500px;
}

.product-description p {
  width: 600px;
}

.product-name {
  border-bottom: 1px solid black;
  width: 400px;
}

.product-name h1 {
  font-size: 2.3em;
}

.product-price {
  font-size: 1.2em;
  margin: 15px 0;
}

.product-size span,
.product-quantity p {
  font-size: 1em;
  font-weight: bold;
}

.size-button {
  display: flex;
  flex-direction: row;
  margin: 15px 30px;
  gap: 30px;
}

.size-button button {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 0.9em;
  background: none;
  border: 1px solid black;
}

.size-button button.active {
  background-color: black;
  color: white;
}

.quantity-counter {
  width: 150px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity-counter input {
  width: 50px;
  border: 1px solid black;
  line-height: 30px;
  font-size: 1.1em;
  text-align: center;
}

.quantity-counter span {
  display: block;
  font-size: 1.2em;
  padding: 0 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.cart-buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.cart-buy-button input {
  padding: 10px 0;
  width: 400px;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.cart-buy-button input:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

/* about us */

.about-head {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 300px;
  margin-top: 80px;
}

.text-info {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.text-info h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.8em;
}

.text-info p {
  width: 600px;
  text-align: justify;
}

.img-info {
  position: relative;
  top: 0;
  left: 0;
}

.img-info .landscape {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.img-info .portrait {
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 180px;
  height: 400px;
  width: 300px;
  object-fit: cover;
}
.qoute-container {
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
}

.qoute-container p {
  position: absolute;
  font-size: 3.7em;
  top: 80px;
  left: 80px;
  font-weight: 200;
  font-style: italic;
}
/* about us end */

/* footer start */
.footer {
  height: 200px;
  background-color: #faedcb;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer-container {
  display: flex;
  gap: 250px;
  margin-top: 25px;
}
.first-column {
  display: flex;
  flex-direction: column;
}

.first-column-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.first-column i {
  color: black;
  font-size: 1.2em;
}

.second-column i {
  font-size: 2em;
  color: black;
}

.second-column-child {
  margin-top: 20px;
  display: flex;
  gap: 35px;
}

.footer p {
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  line-height: 30px;
}

.footer h4 {
  font-size: 1em;
  color: rgb(0, 0, 0);
}
/* footer end */
/* cart start*/
.cart-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
}

.cart,
.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-title h1 {
  margin-top: 40px;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 25px;
  letter-spacing: 0.2em;
}

.empty-cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92.3vh;
}

.carttitle-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.cart-column {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.product-detail {
  width: 250px;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cart-items {
  display: flex;
  gap: 10px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  border-bottom: 1px solid black;
  margin-top: 10px;
  padding-bottom: 15px;
}

#delete-cart {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.cart-total {
  display: flex;
  position: absolute;
  margin-top: 93.2vh;
  right: 280px;
}

.cart-total p {
  font-weight: bold;
}
/* cart end */

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
  gap: 100px;
  margin-top: 50px;
}

.picture img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.name-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.name-div p {
  font-size: 2.5em;
  font-weight: 700;
}

.others .blank {
  font-style: italic;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.picture {
  position: relative;
}
.round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00b4ff;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}
