@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 7.7vh;
  position: sticky;
  background-color: white;
}

.left-nav-bar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: 25px;
}

.middle-nav-bar {
  display: flex;
  gap: 20px;
}

.right-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.right-nav-bar a {
  font-size: 1.3em;
}

.right-nav-bar a,
.middle-nav-bar a {
  color: black;
}

.userprofile {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* header end */

/* index body content start */
.body {
  background-image: url(imgs/LandingPgBackGOasisCafe.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.3vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-left: 100px;
}

.large-info {
  font-size: 2.3em;
  color: white;
  font-weight: bold;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 15px;
  font-family: "Archivo Black", sans-serif;
  line-height: 50px;
}

.sub-info {
  font-size: 0.8em;
  color: white;
  text-align: justify;
  align-self: center;
  width: 500px;
  font-family: "Poppins", sans-serif;
}

.button-div {
  margin-top: 30px;
}

.button-div button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
}

.button-div button:hover {
  background: white;
  color: black;
}

/* login / signup page start */

.login,
.signup {
  background-image: url(imgs/OasisCafe_20230917_141758_0000.svg);
  background-position: center;
  height: 92.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.signup-container {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 400px;
  border-radius: 20px;
}

.signup-container {
  width: 400px;
  height: 620px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h2 {
  color: white;
  text-align: center;
  margin: -10px 0 10px 0;
}

.form-field {
  position: relative;
  margin: 30px 0;
  width: 310px;
}

.signup .form-field {
  position: relative;
  margin: 30px 0;
  width: 310px;
}
.form-field label {
  position: absolute;
  top: 1px;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
}

.form-field input {
  background: transparent;
  border: none;
  width: 85%;
  height: 45px;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
  border-bottom: 2px solid white;
}

.form-field i {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;
}

.form-control.error small {
  visibility: visible;
}

.form-control small {
  color: #df3434;
  position: absolute;
  left: 0;
  visibility: hidden;
}

.forgot-password {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}

.signup-button,
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button input,
.signup-button input {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-container p {
  color: white;
  font-size: 0.9em;
}

.login-container a {
  color: white;
}

.signup-link a {
  text-decoration: underline;
}

.form-field.error small {
  visibility: visible;
}

.form-field small {
  color: #df3434;
  position: absolute;
  left: 0;
  margin-top: 50px;
  visibility: hidden;
}
/* login / signup end */

/* menu start */

.menu-header {
  position: sticky;
  top: 0;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 25px;
  letter-spacing: 0.2em;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.category-button .menu-category {
  cursor: pointer;
  font-size: 1.5em;
  color: #8d8d8d;
}

.category-button .menu-category.active {
  color: black;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-row {
  display: grid;
  grid-template-columns: 350px 350px 350px;
}

.product-card {
  width: 300px;
  margin-bottom: 35px;
  text-align: center;
  border: 1px solid black;
  height: 400px;
}

.product-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product-name {
  font-weight: bold;
}
